<div id="<%= dom_id menu %>">
  <p>
    <strong>Date:</strong>
    <%= menu.date %>
  </p>

  <p>
    <strong>Breakfast:</strong>
    <%= menu.breakfast %>
  </p>

  <p>
    <strong>Lunch:</strong>
    <%= menu.lunch %>
  </p>

  <p>
    <strong>Dinner:</strong>
    <%= menu.dinner %>
  </p>

</div>
