<br/><br/><br/>
<h1 align="center">Welcome Admin</h1>
<div class="for_admin">
<div class="admin_option">
<%= link_to "               Add Student and Receipts            ", students_path, :class=>"custom-link_with_form_box"  %>
</div>
<br/>
<div class="admin_option">
<%= link_to "             Add Weekly Menu            ", menus_path, :class=>"custom-link_with_form_box" %>
</div>


<br/>
<div class="admin_option">
<%= link_to "              Customized food          ", customized_foods_path, :class=>"custom-link_with_form_box"  %>
</div>


<br/>
<div class="admin_option">
<%= link_to "             Set price per meal         ", setting_meal_charge_path, :class=>"custom-link_with_form_box"  %>
</div>

<br/>
<div class="admin_option">
<%= link_to "Set Meal Timings", admin_set_custom_and_meal_time_path, class: "custom-link_with_form_box" %>

</div>

</div>

<footer >
<p>Footer</p>
</footer>