<div id="<%= dom_id customized_food %>">
 <%= image_tag customized_food.food_image ,height:"220",width:"210"%> 
<p>


<p>
<strong>Name:</strong>
<%= customized_food.name %>
</p>


  <p>
    <strong>Price:</strong>
    <%= customized_food.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= customized_food.description %>
  </p>

</div>
