<div id="<%= dom_id receipt %>">
<p>
  <strong style="color:blue;">Student:</strong>
  <%= receipt.student_id %>
</p>
  <p>
    <strong style="color:blue;">Receipt date:</strong>
    <%= receipt.receipt_date %>
  </p>

  <p>
    <strong style="color:blue;">For month:</strong>
    <%= receipt.for_month %>
  </p>

  <p>
    <strong style="color:blue;">Advance:</strong>
    <%= receipt.advance %>
  </p>

  <p>
    <strong style="color:blue;">Mess:</strong>
    <%= receipt.mess %>
  </p>

  <p>
  <strong style="color:blue;">Total meal:</strong>
  <%= receipt.total_meal %>
</p>

  <p>
    <strong style="color:blue;">Room rent:</strong>
    <%= receipt.room_rent %>
  </p>

  <p>
    <strong style="color:blue;">Total amount:</strong>
    <%= receipt.total %>
  </p>

  <p>
    <strong style="color:blue;">Payment done:</strong>
    <%= receipt.payment_done %>
  </p>


</div>
